<div class="caa">
	<h1 class="ti">Mohamed Samir</h1>
	<div class="im"></div>
	<h3 class="ti1">Back-end Developer</h3>


	<div class="wrap">
          <div class="icon face">
              <div class="tool">
                Facebook
              </div>
              <span><img src="~/facebook.png" /></span>
          </div>
          <div class="icon inst">
            <div class="tool">
              Instagram
            </div>
            <span><img src="~/instagram.png" /></span>
        </div>
        <div class="icon twitter">
            <div class="tool">
              Twitter
            </div>
            <span><img src="~/twitter.png" /></span>
        </div>
        <div class="icon git">
            <div class="tool">
              Git-Hub
            </div>
            <span><img src="~/github.png" /></span>
        </div>
        <div class="icon youtube">
            <div class="tool">
              Youtube
            </div>
            <span><img src="~/youtube.png" /></span>
        </div>
      </div>
</div>

<div class="wa">
    <button>
        <span>Download CV</span>
    </button>
</div>